

@{
    Layout = "~/Views/Shared/_LayoutAfiliados.cshtml";
}

<h2 class="titleCommon titleSpacer">Relatórios</h2>
@*<div class="filters">
        <div class="itemFilter">
            <label class="labelFilter">Visualizar</label>
            <div id="boxDropReportPeriod" class="btn dfl drop dropLeft">
                <span>Últimos 15 dias</span>
                <div class="boxDrop">
                    <ul class="ulDrop">
                        <li class="itemDrop"><a class="linkDrop" href="#">Últimos 30 dias</a></li>
                        <li class="itemDrop select"><a class="linkDrop" href="#">Últimos 15 dias</a></li>
                        <li class="itemDrop"><a class="linkDrop" href="#">Últimos 7 dias</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@


<style>
    .report-table td:first-child, .report-table th:first-child {
        border-right: 1px solid #d3d3d3;
        width: 3%;
    }
</style>


<table class="report-table">
    <thead>
        <tr>
            <th></th>
            <th>Usuário</th>
            <th>Cliques</th>
            <th title="Cadastros / Cadastros confirmados">
                Valor Bruto
            </th>
            <th>Valor Liquido</th>
            <th>Valor Premio</th>
            <th>Valor Comissao @*<span class="pointHelp helpReport" original-title="Valores ganhos em Reais">?</span>*@</th>
            <th>Valor A Receber</th>
        </tr>
    </thead>
    <tbody>
        @{ 

            var NumeroClicks = 0;
            var ValorBruto = 0.0;
            var ValorLiquido = 0.0;
            var ValorPremio = 0.0;
            var ValorComissao = 0.0;
            var ValorAReceber = 0.0;
            var colun = 0;
        }
        @foreach (var item in ViewBag.listaConciliacao)
        {

            string id = item.UsuarioId.ToString();

            <tr>
               <td>@(colun+= 1) - @Html.ActionLink("VER", "ListaOperacoesFechamento", "Afiliados", new { UsuarioId = id }, null)</td>
                <td>@item.NomeUsuario</td>
                <td>@item.NumeroClicks</td>
                <td>@item.ValorBruto.ToString("C")</td>
                <td>@item.ValorLiquido.ToString("C")</td>
                <td>@item.ValorPremio.ToString("C")</td>
                <td>@item.ValorComissao.ToString("C")</td>
                <td>@item.ValorAReceber.ToString("C")</td>
            </tr>

            NumeroClicks += @item.NumeroClicks;
            ValorBruto += @item.ValorBruto;
            ValorLiquido += @item.ValorLiquido;
            ValorPremio += @item.ValorPremio;
            ValorComissao += @item.ValorComissao;
            ValorAReceber += @item.ValorAReceber;
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Totais</td>
            <td>@NumeroClicks</td>
            <td>@ValorBruto.ToString("C")</td>
            <td>@ValorLiquido.ToString("C")</td>
            <td>@ValorPremio.ToString("C")</td>
            <td>@ValorComissao.ToString("C")</td>
            <td>@ValorAReceber.ToString("C")</td>
        </tr>
    </tfoot>
</table>
<div style="width: 100%; margin-top: 10px; float: left; text-align: right;">
    <p style="font-size: 11px;"><span style="color: red">**</span> Os pagamentos são realizados automaticamente no último dia de cada mês, sendo o fechamento realizado 5 dias antes destas datas.</p>
</div>