@using Plataforma.Models
@model PaymentViewModel

@{
    Layout = null;
}

<style>

    .kinkee-codigo-seguranca {
        padding-top: 0 !important;
        width: 33% !important;
    }

    @@media (max-width: 600px) {
        .kinkee-codigo-seguranca {

            width: 100% !important;
        }
    }

    @@media (min-width: 992px) {

        .btn_payment_method {
            display: none;
        }
    }

    
</style>

<div class="modal-backdrop in " style="z-index: 1040;"></div>


<div tabindex="-1" role="dialog" class="modal ng-isolate-scope sl-modal sl-subscription-modal subscribe-new-modal js-modal-vantagens" index="0" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body new-modal-body modal-clean  ng-scope">
                <div class="js-modal-premium-valor">

                    <div class="modal-header advantages-header">
                        <span id="" class="sl-close subscribe-new-modal__close material-icons js-action-close-modal">
                            close
                        </span>
                        <div class="advantages-header__text">

                            @if (ViewBag.tempUsuarioAprovado && ViewBag.ApprovedProfile == false)
                            {
                                <div class="advantages-header__title">
                                    Exclusividade Premium!
                                </div>
                                <div class="advantages-header__subtitle">
                                    Tudo que você ganha ao ser assinante
                                </div>
                            }
                            else if (ViewBag.tempUsuarioAprovado == false && ViewBag.ApprovedProfile)
                            {
                                <div class="advantages-header__title">
                                    Acabaram seus BLENDS
                                </div>
                                <div class="advantages-header__subtitle">
                                    Mas tudo bem, você pode liberar agora mesmo sendo Premium
                                </div>
                            }
                            else
                            {
                                <div class="advantages-header__title">
                                    Seu perfil ainda não foi aprovado
                                </div>
                                <div class="advantages-header__subtitle">
                                    Mas tudo bem, você pode liberar agora mesmo sendo Premium
                                </div>
                            }




                        </div>
                        <div class="advantages-header__table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="advantages-header__table-title">
                                            Grátis
                                        </td>
                                        <td class="advantages-header__table-title advantages-header__table-advantage--bold">
                                            PREMIUM
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Fotos
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Blends Ilimitado
                                            <p class="advantages-header__table-subtitle">
                                                (veja perfis aleatórios)
                                            </p>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:red">
                                                close
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Momentos Ilimitados
                                            <p class="advantages-header__table-subtitle">
                                                (publique e aceite)
                                            </p>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:red">
                                                close
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Sugar Score Turbo
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:red">
                                                close
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Acessar Perfis
                                            <p class="advantages-header__table-subtitle">
                                                (quantos você quiser)
                                            </p>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:red">
                                                close
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="advantages-header__table-advantage advantages-header__table-advantage--bold">
                                            Chat Ilimitado
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:red">
                                                close
                                            </span>
                                        </td>
                                        <td>
                                            <span class="material-icons advantages-header__table-icon advantages-header__table-icon--check" style="color:forestgreen">
                                                done
                                            </span>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-body advantages-body">
                        <button class="new-modal__button advantages-body__button js-button-get-plan">
                            <div class="advantages-body__button-title">
                                Promocional R$ @Html.Raw(Model.valorPromocionalSemestralMensal) /mês
                            </div>
                            <div class="advantages-body__button-subtitle">
                                valor cheio sem desconto R$ @Html.Raw(Model.valorCheioSemDesconto)
                            </div>
                        </button>
                        <div class="advantages-body__cancelation-label">
                            Cancele quando desejar!
                        </div>
                        <div class="advantages-body__card-container">
                            <div class="advantages-body__label">Oferta especial apenas no cartão de crédito </div>
                            <div class="advantages-body__flags">
                                <img class="advantages-body__flags-image--d" src="~/modules/img/bandeiras-cartoes.png">
                            </div>
                        </div>
                        @*<a class="advantages-body__link">
                                Outras formas de pagamento (sem desconto especial)
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" class="modal ng-isolate-scope sl-modal sl-subscription-modal js-modal-premium-plan-change" index="0" style="z-index: 1050; display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" modal-transclude="">

            <div class="modal-header ng-scope">
                <button type="button" class="sl-back ng-hide js-back-subscribe-new-modal" data-backpage="">
                    <svg width="11" height="18" viewBox="0 0 11 18" xmlns="http://www.w3.org/2000/svg">
                        <title>Rectangle 900</title>
                        <path d="M1.494 8.02L.514 9 9 17.485l1.958-1.958L4.431 9l6.527-6.527L9 .515 1.494 8.02z" fill="#666" fill-rule="evenodd"></path>
                    </svg>
                </button>
                <h4 class="modal-title ng-binding large primary text-center">
                    Seja Premium no site no serviço mais exclusivo de todos
                    <small class="ng-binding ng-scope">
                        São apenas duas etapas. Assine e aproveite as vantagens!
                    </small>
                </h4>
                <button type="button" class="sl-close js-action-close-modal">×</button>
            </div>

            <div class="modal-body modal-clean  ng-scope no-padding">

                <ul class="nav nav-pills nav-justified visible-lg visible-md">
                    <li class="js-nav-escolha-plano active">
                        <a href="#">
                            Escolha o plano ideal pra você <i class="icon"></i>
                        </a>
                    </li>
                    <li class="js-nav-escolha-pagamento disabled">
                        <a href="#">
                            Escolha a forma de pagamento <i class="icon"></i>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane ng-fade js-tab-escolha-plano">
                        <div class="sl-subscription" bindonce="">

                            <div class="plans-details js-plan-group js-plan-datails-group-plan1" style="display:none;">

                                <div class="price">
                                    <div class="price-currency ng-binding">R$</div>
                                    <div class="price-integer ng-binding">@Html.Raw(Model.planoMensal.valorPlanoReais)</div>
                                    <div class="price-complement">
                                        <div class="price-decimal ng-binding">@Html.Raw(Model.planoMensal.valorPlanoCentavos)</div>
                                        <div class="price-periody ng-binding">/mês</div>
                                    </div>
                                </div>

                                <div class="total ng-binding">@Html.Raw(Model.planoMensal.descricaoParcelamento)</div>
                                <div class="total ng-binding"><br /></div>

                                <div class="container-payment-info">
                                    <ul class="payment-info">


                                        @foreach (var item in Model.planoMensal.meioPagamentos)
                                        {
                                            if (item == MeioPagamento.CartaoCredito)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/cartao-credito.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>cartão de crédito</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.TransferenciaBancaria)
                                            {
                                                <li class="item item--transfer">

                                                    <img src="~/modules/img/transferencia.svg" height="20" width="20" />

                                                    <span class="text ng-binding">Parcela única por <strong>transferência bancária</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.BoletoBancario)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/boleto-bancario.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>boleto bancário</strong></span>
                                                </li>
                                            }
                                        }


                                    </ul>
                                </div>

                            </div>

                            <div class="plans-details js-plan-group js-plan-datails-group-plan2" style="display:none;">

                                <div class="price">
                                    <div class="price-currency ng-binding">R$</div>
                                    <div class="price-integer ng-binding">@Html.Raw(Model.planoTrimestral.valorPlanoReais)</div>
                                    <div class="price-complement">
                                        <div class="price-decimal ng-binding">@Html.Raw(Model.planoTrimestral.valorPlanoCentavos)</div>
                                        <div class="price-periody ng-binding">/mês</div>
                                    </div>
                                </div>

                                <div class="total ng-binding">@Html.Raw(Model.planoTrimestral.descricaoParcelamento)</div>
                                <div class="total ng-binding"><br /></div>

                                <div class="container-payment-info">
                                    <ul class="payment-info">


                                        @foreach (var item in Model.planoTrimestral.meioPagamentos)
                                        {
                                            if (item == MeioPagamento.CartaoCredito)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/cartao-credito.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>cartão de crédito</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.TransferenciaBancaria)
                                            {
                                                <li class="item item--transfer">

                                                    <img src="~/modules/img/transferencia.svg" height="20" width="20" />

                                                    <span class="text ng-binding">Parcela única por <strong>transferência bancária</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.BoletoBancario)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/boleto-bancario.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>boleto bancário</strong></span>
                                                </li>
                                            }
                                        }


                                    </ul>
                                </div>
                            </div>

                            <div class="plans-details js-plan-group js-plan-datails-group-plan3">

                                <div class="price">
                                    <div class="price-currency ng-binding">R$</div>
                                    <div class="price-integer ng-binding">@Html.Raw(Model.planoSemestral.valorPlanoReais)</div>
                                    <div class="price-complement">
                                        <div class="price-decimal ng-binding">@Html.Raw(Model.planoSemestral.valorPlanoCentavos)</div>
                                        <div class="price-periody ng-binding">/mês</div>
                                    </div>
                                </div>

                                <div class="total ng-binding">@Html.Raw(Model.planoSemestral.descricaoParcelamento)</div>
                                <div class="total ng-binding"><br /></div>

                                <div class="container-payment-info">
                                    <ul class="payment-info">


                                        @foreach (var item in Model.planoSemestral.meioPagamentos)
                                        {
                                            if (item == MeioPagamento.CartaoCredito)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/cartao-credito.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>cartão de crédito</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.TransferenciaBancaria)
                                            {
                                                <li class="item item--transfer">

                                                    <img src="~/modules/img/transferencia.svg" height="20" width="20" />

                                                    <span class="text ng-binding">Parcela única por <strong>transferência bancária</strong></span>
                                                </li>
                                            }
                                            else if (item == MeioPagamento.BoletoBancario)
                                            {
                                                <li class="item">
                                                    <img src="~/modules/img/boleto-bancario.svg" height="20" width="20" />
                                                    <span class="text ng-binding">Parcela única no <strong>boleto bancário</strong></span>
                                                </li>
                                            }
                                        }


                                    </ul>
                                </div>
                            </div>

                            <div></div>

                            <ul class="plans">

                                <li class="plan-item ng-scope js-plan-datails-plan1" data-plan-id="">
                                    <span class="plan-option"></span>
                                    <div class="plan-periody ng-binding">Mensal</div>
                                </li>

                                <li class="plan-item ng-scope js-plan-datails-plan2" data-plan-id="">
                                    <span class="plan-option"></span>
                                    <div class="plan-periody ng-binding">Trimestral</div>
                                    <div class="plan-discount ng-scope">
                                        <span class="">
                                            Economize
                                        </span>
                                        <b class="ng-binding">25%</b>
                                    </div>
                                </li>

                                <li class="plan-item ng-scope js-plan-datails-plan3 plan-selected" data-plan-id="">
                                    <span class="plan-option"></span>
                                    <div class="plan-periody ng-binding">Semestral</div>
                                    <div class="plan-discount ng-scope">
                                        <span class="">
                                            Economize
                                        </span>
                                        <b class="ng-binding">50%</b>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="footer">
                            <div class="security">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12 13.2a1.836 1.836 0 0 0-1.041.309 1.793 1.793 0 0 0-.676.84 1.763 1.763 0 0 0 .498 1.983V18c0 .318.129.623.357.849a1.228 1.228 0 0 0 1.724 0 1.19 1.19 0 0 0 .357-.849v-1.668c.279-.24.476-.56.565-.915a1.763 1.763 0 0 0-.067-1.069 1.793 1.793 0 0 0-.676-.84A1.836 1.836 0 0 0 12 13.2zm6.094-4.8V6a5.954 5.954 0 0 0-1.785-4.243A6.142 6.142 0 0 0 12 0a6.142 6.142 0 0 0-4.309 1.757A5.954 5.954 0 0 0 5.906 6v2.4c-.97 0-1.9.38-2.585 1.054A3.572 3.572 0 0 0 2.25 12v8.4c0 .955.385 1.87 1.07 2.546A3.686 3.686 0 0 0 5.907 24h12.188c.97 0 1.9-.38 2.585-1.054A3.572 3.572 0 0 0 21.75 20.4V12c0-.955-.385-1.87-1.07-2.546A3.685 3.685 0 0 0 18.093 8.4zM8.344 6c0-.955.385-1.87 1.07-2.546A3.685 3.685 0 0 1 12 2.4c.97 0 1.9.38 2.585 1.054A3.572 3.572 0 0 1 15.656 6v2.4H8.344V6zm10.969 14.4c0 .318-.129.623-.357.849a1.228 1.228 0 0 1-.862.351H5.906c-.323 0-.633-.126-.862-.352a1.19 1.19 0 0 1-.356-.848V12c0-.318.128-.623.356-.848.229-.226.539-.352.862-.352h12.188c.323 0 .633.126.861.351.23.226.358.53.358.849v8.4z" fill="currentColor"></path>
                                    </svg>
                                    AMBIENTE SEGURO
                                </span> &nbsp;
                                <span>powered by pagar.me</span>
                            </div>

                            <button class="button next-icon js-action-forma-pagamento">
                                Forma de Pagamento
                            </button>
                        </div>
                    </div>

                    <div class="tab-pane ng-fade ng-hide js-tab-forma-pagamento" style="display:none;">
                        <div class="sl-subscription-payment">
                            <div class="row">

                                <div class="col-md-3 js-action-meio-pagamento">
                                    <ul class="nav nav-tabs nav-stacked">

                                        <li class="ng-scope js-action-select-pagamento-cartao-credito active">
                                            <a class="sl-btn btn-ghost">
                                                <img class="payment_tokens__icon btn_payment_method" style="width: 60px;" src="~/modules/img/cartao-credito.svg" />
                                                Cartão de crédito
                                            </a>
                                        </li>
                                        <li class="ng-scope js-action-select-pagamento-points">
                                            <a class="sl-btn btn-ghost btn-tokens">
                                                <img class="payment_tokens__icon btn_payment_method"  src="~/modules/img/kinkee_points_compra_1.svg" />
                                                Usar Points
                                            </a>
                                        </li>

                                        @*<li class="ng-scope">
                                        <a class="sl-btn btn-ghost">
                                            <svg>
                                                <use xlink:href="assets/icons/_common/_common.svg?#common-pix"></use>
                                            </svg>
                                            Pix <span class="subscribe-label-new label-new">
                                                Novo
                                            </span>
                                        </a>
                                    </li>

                                    <li class="ng-scope">
                                        <a class="sl-btn btn-ghost">
                                            <svg>
                                                <use xlink:href="assets/icons/_common/_common.svg?#common-boleto"></use>
                                            </svg>
                                            Boleto bancário
                                        </a>
                                    </li>

                                    <li  class="">
                                        <a class="sl-btn btn-ghost btn-tokens" >
                                            <svg class="payment_tokens__icon">
                                                <use xlink:href="assets/icons/_common/_common.svg?#common-payment-tokens"></use>
                                            </svg>
                                            Usar Tokens
                                        </a>
                                    </li>*@
                                    </ul>
                                    <div class="gs">
                                        <div class="security">
                                            <span>
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M12 13.2a1.836 1.836 0 0 0-1.041.309 1.793 1.793 0 0 0-.676.84 1.763 1.763 0 0 0 .498 1.983V18c0 .318.129.623.357.849a1.228 1.228 0 0 0 1.724 0 1.19 1.19 0 0 0 .357-.849v-1.668c.279-.24.476-.56.565-.915a1.763 1.763 0 0 0-.067-1.069 1.793 1.793 0 0 0-.676-.84A1.836 1.836 0 0 0 12 13.2zm6.094-4.8V6a5.954 5.954 0 0 0-1.785-4.243A6.142 6.142 0 0 0 12 0a6.142 6.142 0 0 0-4.309 1.757A5.954 5.954 0 0 0 5.906 6v2.4c-.97 0-1.9.38-2.585 1.054A3.572 3.572 0 0 0 2.25 12v8.4c0 .955.385 1.87 1.07 2.546A3.686 3.686 0 0 0 5.907 24h12.188c.97 0 1.9-.38 2.585-1.054A3.572 3.572 0 0 0 21.75 20.4V12c0-.955-.385-1.87-1.07-2.546A3.685 3.685 0 0 0 18.093 8.4zM8.344 6c0-.955.385-1.87 1.07-2.546A3.685 3.685 0 0 1 12 2.4c.97 0 1.9.38 2.585 1.054A3.572 3.572 0 0 1 15.656 6v2.4H8.344V6zm10.969 14.4c0 .318-.129.623-.357.849a1.228 1.228 0 0 1-.862.351H5.906c-.323 0-.633-.126-.862-.352a1.19 1.19 0 0 1-.356-.848V12c0-.318.128-.623.356-.848.229-.226.539-.352.862-.352h12.188c.323 0 .633.126.861.351.23.226.358.53.358.849v8.4z" fill="currentColor"></path>
                                                </svg>
                                                AMBIENTE SEGURO
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="tab-content payment-methods">
                                        <div class="js-label-plano-escolhido">

                                            <div class="plan-selected-header">
                                                <div class="plan-selected-name">
                                                    <span>
                                                        Plano escolhido
                                                    </span>
                                                    <strong class="choosen-plan ng-binding mensal" style="display:none;">@Html.Raw(Model.planoMensal.descricaoNomeValorPlano)</strong>
                                                    <strong class="choosen-plan ng-binding trimestral" style="display:none;">@Html.Raw(Model.planoTrimestral.descricaoNomeValorPlano)</strong>
                                                    <strong class="choosen-plan ng-binding semestral">@Html.Raw(Model.planoSemestral.descricaoNomeValorPlano)</strong>
                                                </div>
                                                <span class="change-plan js-change-plan">
                                                    Alterar
                                                </span>
                                            </div>

                                            <hr>
                                        </div>

                                        <div id="MainPagamentoMetodo">
                                            
                                            
                                        </div>

                                    </div>

                                    <button class="sl-btn btn-primary btn-lg sl-sign fixed ng-scope js-button-submit-subscription" >
                                        <span class="ng-binding">Assinar Premium</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        var dataplanid = @Html.Raw(Model.planoSemestral.dataPlanId)

        $('.js-action-close-modal').click(function () {
            $('#ShareModal').empty();
        });

        $('.js-button-get-plan').click(function () {
            $('.js-modal-vantagens').css('display', 'none');
            $('.js-modal-premium-plan-change').css('display', 'block');

            $('.js-tab-escolha-plano').css('display', 'block');
            $('.js-tab-forma-pagamento').css('display', 'none');

            $('.js-nav-escolha-plano').removeClass('disabled');
            $('.js-nav-escolha-pagamento').removeClass('active');

            $('.js-nav-escolha-plano').addClass('active');
            $('.js-nav-escolha-pagamento').addClass('disabled');

            $('.js-back-subscribe-new-modal').attr('data-backpage', 'voltar-vantagens');
        });

        $('.js-back-subscribe-new-modal').click(function () {

            var voltar = $(this).attr('data-backpage');

            if (voltar === "voltar-vantagens") {
                $('.js-modal-premium-plan-change').css('display', 'none');
                $('.js-modal-vantagens').css('display', 'block');
            }
            else if (voltar === 'voltar-plano') {
                $('.js-tab-escolha-plano').css('display', 'block');
                $('.js-tab-forma-pagamento').css('display', 'none');

                $('.js-nav-escolha-plano').removeClass('disabled');
                $('.js-nav-escolha-pagamento').removeClass('active');

                $('.js-nav-escolha-plano').addClass('active');
                $('.js-nav-escolha-pagamento').addClass('disabled');
                
                $('.js-back-subscribe-new-modal').attr('data-backpage', 'voltar-vantagens');
            }

        });

        $('.js-change-plan').click(function () {

            $('.js-tab-escolha-plano').css('display', 'block');
            $('.js-tab-forma-pagamento').css('display', 'none');

            $('.js-nav-escolha-plano').removeClass('disabled');
            $('.js-nav-escolha-pagamento').removeClass('active');

            $('.js-nav-escolha-plano').addClass('active');
            $('.js-nav-escolha-pagamento').addClass('disabled');

            $('.js-back-subscribe-new-modal').attr('data-backpage', 'voltar-vantagens');

        });

        $('.plan-item').click(function () {
            $('.plan-item').removeClass('plan-selected');
            $(this).addClass('plan-selected');
        });

        $('.js-plan-datails-plan1').click(function () {
            $('.js-plan-group').css('display', 'none');
            $('.js-plan-datails-group-plan1').css('display', 'block');

            $('.choosen-plan.ng-binding').css('display', 'none');
            $('.choosen-plan.ng-binding.mensal').css('display', 'block');

            dataplanid = @Html.Raw(Model.planoMensal.dataPlanId)
        });

        $('.js-plan-datails-plan2').click(function () {
            $('.js-plan-group').css('display', 'none');
            $('.js-plan-datails-group-plan2').css('display', 'block');


            $('.choosen-plan.ng-binding').css('display', 'none');
            $('.choosen-plan.ng-binding.trimestral').css('display', 'block');

            dataplanid = @Html.Raw(Model.planoTrimestral.dataPlanId)
        });


        $('.js-plan-datails-plan3').click(function () {
            $('.js-plan-group').css('display', 'none');
            $('.js-plan-datails-group-plan3').css('display', 'block');


            $('.choosen-plan.ng-binding').css('display', 'none');
            $('.choosen-plan.ng-binding.semestral').css('display', 'block');

            dataplanid = @Html.Raw(Model.planoSemestral.dataPlanId)
        });


        $('.js-action-forma-pagamento').click(function () {
            $('.js-tab-escolha-plano').css('display', 'none');
            $('.js-tab-forma-pagamento').css('display', 'block');

            $('.js-nav-escolha-plano').removeClass('active');
            $('.js-nav-escolha-pagamento').removeClass('disabled');

            $('.js-nav-escolha-plano').addClass('disabled');
            $('.js-nav-escolha-pagamento').addClass('active');

            $('.js-back-subscribe-new-modal').attr('data-backpage', 'voltar-plano');

            carregaTabPagamento();
        });



        $('.js-action-select-pagamento-cartao-credito').click(function () {

            removeTabActiveClass();
            $(this).addClass('active');
            carregaTabPagamento();

        });

        $('.js-action-select-pagamento-points').click(function () {

            removeTabActiveClass();
            $(this).addClass('active');
            carregaTabPagamentoPoints();

        });

        function removeTabActiveClass() {
            $('.js-action-select-pagamento-points').removeClass('active');
            $('.js-action-select-pagamento-cartao-credito').removeClass('active');
        }


        function carregaTabPagamento() {

            var pCartao = {
                numeroParcelas: 6,
                valorTotal: 299.70,
                plan_id: dataplanid,
                parcelas: null,
            };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("_TabPagamentoCartaoCreditoPartial", "MinhaConta")',
                data: { "numeroParcelas": pCartao.numeroParcelas, "valorTotal": pCartao.valorTotal, "plan_id":pCartao.plan_id},
                dataType: 'html',
                success: function (data) {

                    if (data != null) {
                        $(".js-label-plano-escolhido").css('display', 'block');
                        $("#MainPagamentoMetodo").empty();
                        $("#MainPagamentoMetodo").append(data);
                    }

                },
                beforeSend: function () {

                },
                complete: function (data) {

                },
                error: function () {
                    $('#MainPagamentoMetodo').append('Ops! Ocorreu um erro durante o carregamento.');
                }
            });
        }

        function carregaTabPagamentoPoints() {

            var pCartao = {
                numeroParcelas: 6,
                valorTotal: 299.70,
                plan_id: dataplanid,
                parcelas: null,
            };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("_TabPagamentoPointsPartial", "MinhaConta")',
                data: { "numeroParcelas": pCartao.numeroParcelas, "valorTotal": pCartao.valorTotal, "plan_id":pCartao.plan_id},
                dataType: 'html',
                success: function (data) {

                    if (data != null) {
                        
                        $(".js-label-plano-escolhido").css('display', 'none');

                        $("#MainPagamentoMetodo").empty();
                        $("#MainPagamentoMetodo").append(data);
                    }

                },
                beforeSend: function () {

                },
                complete: function (data) {

                },
                error: function () {
                    $('#MainPagamentoMetodo').append('Ops! Ocorreu um erro durante o carregamento.');
                }
            });
        }


        //$('.plans-body__plan.plans-body__plan--d.ng-scope').click(function () {
        //    $('.plans-body__plan.plans-body__plan--d.ng-scope').removeClass('plans-body__plan--selected');
        //    $(this).addClass('plans-body__plan--selected');
        //    $('.plans-body__button').removeClass('plans-body__button--disabled');
        //});

        //$('.js-action-payment').click(function () {
        //    $('.js-modal-premium-plan-change').css('display', 'none');
        //    $('.js-modal-premium-formulario').css('display', 'block');

        //});

        //$('.js-back-subscribe-new-modal').click(function () {
        //    $('.js-modal-premium-formulario').css('display', 'none');
        //    $('.js-modal-premium-plan-change').css('display', 'block');

        //});
    });

</script>