@using Plataforma.Models
@model SharedViewModel
@{
    ViewBag.Title = "Kinkee™ - Esqueci a senha";
    Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";
}

<style>
    .container-flex.authentication{-webkit-transform:translateY(10%);-ms-transform:translateY(10%);transform:translateY(10%)}@@media (min-width:600px){.container-flex.authentication{-webkit-transform:translateY(calc(20% - 48px));-ms-transform:translateY(calc(20% - 48px));transform:translateY(calc(20% - 48px))}}.sl-modal.login.injected,.sl-modal.signup.injected,.panel.confirm-email{width:100%;margin:0 auto}@@media (min-width:600px){.sl-modal.login.injected,.sl-modal.signup.injected,.panel.confirm-email{width:500px}}.panel.confirm-email{border:1px solid #d4d4d4}@@media (min-width:992px){.panel.confirm-email{width:700px}}.panel.confirm-email .alert{margin:-41px -20px 20px}.panel.confirm-email .mobile-validation .alert{margin:-20px -20px -5px}.panel.confirm-email .mobile-validation+.hide-resend-email{margin-top:30px}@@media (min-width:600px){.panel.confirm-email .mobile-validation+.hide-resend-email{margin-top:0}}.panel.confirm-email .panel-heading{padding:20px}.panel.confirm-email .panel-heading h3{margin:0;color:#661577;text-align:center;font-size:26px;font-weight:500}.panel.confirm-email .panel-body{padding:50px 20px 0;border-top:1px solid #d4d4d4;font-size:14px}.panel.confirm-email .panel-body p{font-size:16px}.panel.confirm-email .panel-body p.small{font-size:13px;margin-top:50px}.panel.confirm-email .panel-body .text-or{margin-left:12px}.panel.confirm-email .panel-body .btn-link{font-size:14px}.panel.confirm-email .panel-body .keep-browsing{margin:10px 0}.panel.change-password .panel-body{padding:40px}.panel.change-password .panel-body .alert.alert-danger{margin:-41px -41px 20px}form.change-email{background-color:#f5f5f5;padding:20px;margin:5px -20px}form.change-password .form-control.input-lg{margin-bottom:20px;border-radius:3px}

</style>

<div ng-controller="AuthenticationController" class="container-flex authentication ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <div class="bordered sl-modal login injected" login-injected="" data-resend-password="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">

                            <h4 class="modal-title large primary" style="color:#B8273B;">
                                <span>Esqueceu sua senha?</span>
                            </h4>
                        </div>

                        <div class="modal-body">

                            <!-- Reenvio de  -->
                            <div class="text-center" style="@(Model.booleanVariable ? "display:none" : "display:block")">
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "sl-form ng-pristine ng-invalid ng-invalid-required", @name = "forgetForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.TextBoxFor(m => m.ForgotPasswordViewModel.Email, new { @type = "text", @class = "form-control input-lg ng-pristine ng-invalid ng-invalid-required", @placeholder = "Digite seu e-mail", @required = "", @name = "username", @maxlength = "100" })
                                    <p class="forget-password">
                                        Enviaremos para seu e-mail um link com as instruções para redefinir a senha.
                                    </p>

                                    <!-- Enviar -->
                                    <button type="submit" class="sl-btn btn-primary btn-lg btn-block" ng-disabled="loading">
                                        Enviar
                                    </button>

                                    <p class="signup-call">
                                        Ou retorne para <a href="/Account/Login/">tela de login</a>
                                    </p>
                                }
                            </div>

                            <!-- Confirmação de envio -->
                            <div class="email-confirmation-sent ng-hide" style="@(Model.booleanVariable ? "display:block" : "display:none")">
                                <h3>Enviamos um email para você. Siga as instruções para redefinir sua senha.</h3>
                                <p>
                                    Se você não receber o email dentro de alguns minutos, verifique a caixa de spam ou lixo eletrônico de seu email, ou tente <a href="/Account/ForgotPassword/">reenviar sua solicitação.</a>.
                                </p>
                                <p>Se ainda precisar de ajuda, envienos um email para <a href="#">ajuda@Kinkee.me</a>.</p>
                                <button type="button" class="sl-btn btn-default" onclick="location.href='@Url.Action("Login", "Account")'">Voltar para o login</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-center" end-page=""><div class="endpage"><i></i><div ng-transclude=""></div></div></div>
        </div>
    </div>
</div>
