
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ng-scope">

    <!-- Filter -->
    <div class="container-fluid explore-filter">

        <div class="container-flex">
            <div class="row">
                <div class="col-xs-10 col-sm-4 col-md-6">
                    <h1>Extrato</h1>
                </div>
            </div>

        </div>
    </div>


    <div class="container-flex gutter-small">

        <div class="container-flex gutter-small">

            <section class="last-photos  " auto-visible="">
                <!-- List -->
                <div class="last-photos-list ">

                    <div class="bootstrap snippet">

                        <div id="container" style="height:auto">


                            @{
                                if (ViewBag.Transactions != null)
                                {
                                    foreach (var item in ViewBag.Transactions)
                                    {
                                        const int SECOND = 1;
                                        const int MINUTE = 60 * SECOND;
                                        const int HOUR = 60 * MINUTE;
                                        const int DAY = 24 * HOUR;
                                        const int MONTH = 30 * DAY;

                                        var ts = new TimeSpan(DateTime.UtcNow.Ticks - item.DateCreate.Ticks);
                                        double delta = Math.Abs(ts.TotalSeconds);

                                        string textTime = "";

                                        if (delta < 1 * MINUTE)
                                        {
                                            textTime = ts.Seconds == 1 ? "um segundo atrás" : ts.Seconds + " segundos atrás";
                                        }
                                        else if (delta < 2 * MINUTE)
                                        {
                                            textTime = "um minuto atrás";
                                        }
                                        else if (delta < 45 * MINUTE)
                                        {
                                            textTime = ts.Minutes + " minutos atrás";
                                        }
                                        else if (delta < 90 * MINUTE)
                                        {
                                            textTime = "uma hora atrás";
                                        }
                                        else if (delta < 24 * HOUR)
                                        {
                                            textTime = ts.Hours + " horas atrás";
                                        }
                                        else if (delta < 48 * HOUR)
                                        {
                                            textTime = "hoje";
                                        }
                                        else if (delta < 30 * DAY)
                                        {
                                            textTime = ts.Days + " dias Atrás";
                                        }
                                        else if (delta < 12 * MONTH)
                                        {
                                            int months = Convert.ToInt32(Math.Floor((double)ts.Days / 30));
                                            textTime = months <= 1 ? "um mês atrás" : months + " meses atrás";
                                        }
                                        else
                                        {
                                            int years = Convert.ToInt32(Math.Floor((double)ts.Days / 365));
                                            textTime = years <= 1 ? "um ano atrás" : years + " anos atrás";
                                        }

                                        string description = "";
                                        bool credito = true;

                                        if (item.TransactionType.ToString() == "Credit")
                                        {
                                            description = string.Format("Transferência Recebida");
                                            credito = true;
                                        }
                                        else if (item.TransactionType.ToString() == "Debit")
                                        {
                                            description = string.Format("Transferência Realizada");
                                            credito = false;
                                        }
                                        else if (item.TransactionType.ToString() == "Chargeback")
                                        {
                                            description = string.Format("Estorno Realizado");
                                            credito = true;
                                        }   
                                        else if (item.TransactionType.ToString() == "LoginCredit")
                                        {
                                            description = string.Format("Crédito Recebido");
                                            credito = true;
                                        }


                                        <div class="col-sm-4" style="width: 100%; background-color:#FFF; border-bottom:1px solid #dddfe2;">

                                            <div class="avatar overlayContentCard" style="float:left;">
                                                <img alt="." class="img-circle" width="40" src="../../modules/img/credit-koins.png">
                                            </div>

                                            <div class="about" style="padding-left: 50px;">
                                                <div class="about-section">
                                                    @*<span class="title date ng-binding"><b>@item.TransactionType</b></span><br />*@
                                                    @if(!string.IsNullOrEmpty(description))
                                                    {
                                                        <span class="subtitle date ng-binding">@description</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="subtitle date ng-binding">@item.Descricao</span>
                                                    }

                                                    @if (credito == true)
                                                    {
                                                        <span class="subtitle date ng-binding" style="float:right; margin-right:20px; margin-top: 14px; font-size:medium; color:#36C959"><b> @item.Amount</b></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="subtitle date ng-binding" style="float:right; margin-right:20px; margin-top: 14px; font-size:medium; color:#f00"><b> @item.Amount</b></span>
                                                    }

                                                </div>
                                                <div class="about-section">
                                                    <p>
                                                        <span class="ng-binding" style="font-size:smaller;">@textTime</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            }

                        </div>



                    </div>

                </div>

                <hr class="ng-scope">
                <div id="progress" style="display:none">
                    <a class="sl-btn btn-primary-inverse text-uppercase" id="btnCarregando" title="Assine">CARREGANDO...</a>
                </div>
                <a href="" class="sl-btn btn-primary-inverse text-uppercase js-carregar-btn" title="Assine">CLIQUE AQUI PARA CARREGAR MAIS</a>
                <br />
                <br />



            </section>

        </div>




    </div>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="~/modules/css/index.css" rel="stylesheet" />
@*@Scripts.Render("~/index/css")*@





<div class="fb-customerchat"
     page_id="1105956872821807">
</div>



