@using Plataforma.Models
@model SharedViewModel
@{
    ViewBag.Title = @Html.DisplayFor(m => m.PerfilViewModel.Usuario);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/modules/css/perfilPrivado.css" rel="stylesheet" />
<link href="~/pulsar/Kinkee/assets/css/sl/comum.css" rel="stylesheet" />
<link href="~/modules/css/blueimp-gallery.min.css" rel="stylesheet" />
<link href="~/modules/css/bundle.css" rel="stylesheet" media="screen" />
<link href="~/modules/css/novoPerfil.css" rel="stylesheet" />
<link href="~/modules/css/perfil_feed.css" rel="stylesheet" />
<script src="~/modules/js/jquery.stickyalert.js"></script>

<style>



    img {
        border: 0;
        vertical-align: middle;
    }

    .aside.sidebar .sidebar-header input.fake-search {
        width: calc(100% - 45px) !important;
    }
</style>


<div class="profile-page">
    <div>


        <div class="profile-cover-container ng-scope">
            <style>
                .profile-cover:before {
                    background: linear-gradient(#044 0,#002 0,#000 70%) !important;
                }
            </style>

            @{
                string urlCapaPrivada = "";
                if (string.IsNullOrEmpty(ViewBag.ImagemCapaPrivado))
                {
                    urlCapaPrivada = @Html.DisplayFor(m => m.PerfilViewModel.imagemPerfil).ToString();
                }
                else
                {
                    urlCapaPrivada = ViewBag.ImagemCapaPrivado;
                }
            }
            <div class="profile-cover" style="background: url(https://app.kinkeesugar.com/@urlCapaPrivada); background-repeat: no-repeat; background-size: 100% auto; background-position: center top; background-attachment: fixed;"></div>
            <div class="profile-cover owner" id="profile-cover" z-index: -999999999999; style="background: url(https://app.kinkeesugar.com/@urlCapaPrivada); background-repeat: no-repeat; background-size: 100% auto; background-position: center top; background-attachment: fixed;">

                @if (ViewBag.habilitaEdicao)
                {
                    <script>
                        $(document).ready(function () {

                            $('.btn-add-cover').click(function () {


                                $('#js-uploadImageCapaPrivada').trigger('click');
                            });


                            $("#js-uploadImageCapaPrivada").change(function () {

                                //$('.chat-upload-list').css('display', 'block');

                                var output = document.getElementById('profile-cover');


                                var add_photo_url = "@Url.Action("UploadImageCapaPerfilPrivado", "FanClub")";
                                var model = new FormData();

                                model.append("File", $("#js-uploadImageCapaPrivada").prop('files')[0]);

                                $.ajax({
                                    url: add_photo_url,
                                        type: "POST",
                                        data: model,
                                        dataType: "json",
                                        cache: false,
                                        contentType: false,
                                        processData: false

                                    }).always(function (result) {
                                        output.src = result.responseText;
                                    });
                            });

                        });

                    </script>

                    <div class="profile-cover-change ng-scope">
                        <input id="js-uploadImageCapaPrivada" type="file" class="share-file ng-scope" style="position: absolute;left: 1000000px;" name="files" accept="image/jpg,image/jpeg,image/gif,image/png">
                        <a class="btn-add-cover update ng-scope">

                            <i class="icon icon-profile-cover-camera-update"></i>
                            <span class="profile-cover-change__span"> Adicionar imagem de capa</span>
                        </a>
                    </div>
                }

            </div>
        </div>

        <div class="container-flex content-container">

            <div class="profile-navigation">

                <div class="profile-avatar" login="@Html.DisplayFor(m => m.PerfilViewModel.Usuario)">
                    <div>
                        @{
                            String urlImagePerfil = Html.DisplayFor(m => m.PerfilViewModel.imagemPerfil).ToString();
                            HttpCookie urlCookie = new HttpCookie("urlCookie");
                            urlCookie.Value = Request.Url.AbsoluteUri;
                            Response.Cookies.Add(urlCookie);


                            <div id="links2">
                                <a href="https://app.kinkeesugar.com/@urlImagePerfil" onclick="return false;" style="z-index:9999999999999999" title="@Html.DisplayFor(m => m.PerfilViewModel.Usuario)">
                                    <img src="https://app.kinkeesugar.com/@urlImagePerfil" id="ftPerfil" alt="@Html.DisplayFor(m => m.PerfilViewModel.Usuario)" class="img-circle user-select-none">

                                </a>
                            </div>

                        }

                    </div>
                    @*<div class="online online_messenger profile-status owner ng-isolate-scope">online</div>*@<div class="online online_messenger profile-status owner ng-isolate-scope"></div>
                </div>


                <!-- Header -->
                <div class="profile-header">

                    <!--Username-->
                    <h1 class="profile-username">
                        @Html.DisplayFor(m => m.PerfilViewModel.Usuario)
                    </h1>

                    <!--Gender-->
                    @*<h2 class="profile-gender">
                            <span>Mulher</span>
                        </h2>*@<h2 class="profile-gender">
                        <span></span>
                    </h2>
                    <!--Location-->
                    <!--TODO: Link para busca-->
                    <h3 class="profile-location">
                        <span>
                            @Html.DisplayFor(m => m.PerfilViewModel.Endereco.Cidade, new { @type = "text", @name = "cidade", @id = "lblCidade" })
                            @if ((Model.PerfilViewModel.Endereco != null) && (!String.IsNullOrEmpty(Model.PerfilViewModel.Endereco.Cidade)))
                            {
                                @Html.Raw(",");
                            }
                            @Html.DisplayFor(m => m.PerfilViewModel.Endereco.Estado, new { @type = "text", @name = "estado", @id = "lblEstado" })
                        </span>
                    </h3>
                </div>

                <!-- Actions -->

                <script>
                            $(document).on("click", "#btn-mensagem-semgold", function (e) {

                                $.get('@Url.Action("_AssinaturaPartial", "MinhaConta")', function (data) {
                                    $('#mensagemModal').append("<div class='modal-backdrop in' ng-style='{'z-index': 1040 + (index & amp;&amp; 1 || 0) + index * 10}' modal-backdrop='' style='z- index: 1051;'></div>");
                                    $('#mensagemModal').append(data);
                                });
                                e.preventDefault();
                            });

                            $(document).on("click", ".js-close-button-assinatura", function (e) {

                                $('#mensagemModal').empty();

                                e.preventDefault();
                            });


                </script>

                <div class="profile-actions ng-scope" style="cursor: initial; color:#fff; background-color: red; height: 40px;">

                    <div class="action-container container-message">
                        <div class="action">
                            <span class="text" style="cursor: initial; color:#fff; font-size:14px;">
                                <b>PERFIL PRIVADO</b>
                            </span>
                        </div>
                    </div>


                </div>

                @if (!ViewBag.habilitaEdicao)
                {
                    <div class="profile-actions ng-scope">

                        <div class="action-container container-message">
                            <div id="btn-mensagem" class="action" role="button">

                                <i class="icon send-messages"></i>
                                <span class="text">
                                    Enviar <span>mensagem</span>
                                </span>
                            </div>
                        </div>

                        <div class="action-container container-more">
                            <div class="action" role="button" data-toggle="dropdown" data-target="sl-dropdown">
                                <i class="icon more"></i>
                                Mais opções
                            </div>

                            <ul class="dropdown-menu sl-dropdown profile-dropdown dropdown-more" sl-set-height="" style="height: auto;">


                                <li class="item menu-action-gift">
                                    <a ng-click="actions.gift()">
                                        <i class="icon">
                                            <svg width="13" height="14" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 4H.999A1 1 0 0 0 0 5v1h13V5c0-.556-.447-1-.999-1H10c.014-.01 2.995-1.994 1-3C9-.009 8 2 7.5 3c-.5-1-1.498-1-2 0C5 2 4-.024 2 1c-1.995 1.022.986 2.99 1 3zM1 7h11v4.994C12 13.102 11.1 14 10.008 14H2.992C1.892 14 1 13.113 1 11.994V7zm5 0h1v7H6V7z" fill-rule="evenodd"></path>
                                            </svg>
                                        </i>
                                        Presentear
                                    </a>
                                </li>



                                @*<li class="divider"></li>

                                    <li class="item menu-action-block">
                                        <a ng-click="actions.block()">
                                            <i class="icon">
                                                <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                                    <g fill-rule="evenodd">
                                                        <path d="M13.266 10.829A6.658 6.658 0 1 0 1.734 4.17a6.658 6.658 0 0 0 11.532 6.658zm-.866-.5A5.658 5.658 0 1 1 2.6 4.67a5.658 5.658 0 0 1 9.8 5.658z"></path>
                                                        <path d="M1.93 4.831l.474-.82 10.665 6.158-.473.82z"></path>
                                                    </g>
                                                </svg>
                                            </i>
                                            Bloquear
                                        </a>
                                    </li>

                                    <li class="item menu-action-report">
                                        <a ng-click="actions.report()">
                                            <i class="icon">
                                                <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.162 9.75c.38-5.13-2.045-6.784-2.045-6.784 4.177 1.692 4.072 5.728 4.033 6.784h.972c.029-.227.038-.463.038-.699 0-3.099-2.142-5.697-5.044-6.415a6.528 6.528 0 0 0-1.628-.199c-.552 0-1.095.066-1.609.199C2.977 3.344.826 5.952.826 9.05c0 .236.019.472.038.699h10.298zM1.39 12.188c-.297 0-.538.181-.538.406 0 .224.242.406.539.406h12.258c.297 0 .537-.182.537-.406 0-.224-.24-.406-.537-.406H1.388h.001zm0-1.626c-.297 0-.538.183-.538.407 0 .224.242.406.539.406h12.258c.297 0 .537-.182.537-.406 0-.224-.24-.406-.537-.406H1.388h.001zM8.24.518c0-.114.107-.205.244-.205.138 0 .245.09.245.205V1.92c.148.024.295.049.442.081V.74C9.17.33 8.778 0 8.278 0H6.72c-.492 0-.883.328-.883.74v1.262a7.912 7.912 0 0 1 1.656-.172c.255 0 .5.008.745.032V.518L8.24.517z" fill-rule="evenodd"></path>
                                                </svg>
                                            </i>
                                            Denunciar
                                        </a>
                                    </li>*@
                                <li class="divider"></li>

                                <li class="item menu-action-block">
                                    <a ng-click="actions.block()">
                                        <i class="icon">
                                            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                                <g fill-rule="evenodd">
                                                    <path d="M13.266 10.829A6.658 6.658 0 1 0 1.734 4.17a6.658 6.658 0 0 0 11.532 6.658zm-.866-.5A5.658 5.658 0 1 1 2.6 4.67a5.658 5.658 0 0 1 9.8 5.658z"></path>
                                                    <path d="M1.93 4.831l.474-.82 10.665 6.158-.473.82z"></path>
                                                </g>
                                            </svg>
                                        </i>
                                    </a>
                                </li>

                                <li class="item menu-action-report">
                                    <a ng-click="actions.report()">
                                        <i class="icon">
                                            <svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.162 9.75c.38-5.13-2.045-6.784-2.045-6.784 4.177 1.692 4.072 5.728 4.033 6.784h.972c.029-.227.038-.463.038-.699 0-3.099-2.142-5.697-5.044-6.415a6.528 6.528 0 0 0-1.628-.199c-.552 0-1.095.066-1.609.199C2.977 3.344.826 5.952.826 9.05c0 .236.019.472.038.699h10.298zM1.39 12.188c-.297 0-.538.181-.538.406 0 .224.242.406.539.406h12.258c.297 0 .537-.182.537-.406 0-.224-.24-.406-.537-.406H1.388h.001zm0-1.626c-.297 0-.538.183-.538.407 0 .224.242.406.539.406h12.258c.297 0 .537-.182.537-.406 0-.224-.24-.406-.537-.406H1.388h.001zM8.24.518c0-.114.107-.205.244-.205.138 0 .245.09.245.205V1.92c.148.024.295.049.442.081V.74C9.17.33 8.778 0 8.278 0H6.72c-.492 0-.883.328-.883.74v1.262a7.912 7.912 0 0 1 1.656-.172c.255 0 .5.008.745.032V.518L8.24.517z" fill-rule="evenodd"></path>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                }
                else
                {
                    <div class="profile-actions ng-scope">

                        <div class="action-container container-editar">
                            <div class="action" role="button">
                                <a href="#" class="action">
                                    <i class="icon edit-profile"></i>
                                    <span class="text">
                                        Configurações
                                    </span>
                                </a>

                            </div>
                        </div>

                        <div class="action-container nav-home js-menu-assinaturas">
                            <div class="action" role="button">
                                <a href="#" class="action">
                                    <i class="icon edit-card"></i>
                                    <span class="text">
                                        Assinaturas
                                    </span>
                                </a>

                            </div>
                        </div>

                        @*<div class="action-container container-more">
                                <div class="action" role="button" data-toggle="dropdown" data-target="sl-dropdown">
                                    <i class="icon more"></i>
                                    Mais opções
                                </div>

                                <ul class="dropdown-menu sl-dropdown profile-dropdown dropdown-more" sl-set-height="" style="height: 300px;">

                                    <li class="item menu-action-gift">
                                        <a ng-click="actions.gift()">
                                            <i class="icon">
                                                <svg width="13" height="14" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3 4H.999A1 1 0 0 0 0 5v1h13V5c0-.556-.447-1-.999-1H10c.014-.01 2.995-1.994 1-3C9-.009 8 2 7.5 3c-.5-1-1.498-1-2 0C5 2 4-.024 2 1c-1.995 1.022.986 2.99 1 3zM1 7h11v4.994C12 13.102 11.1 14 10.008 14H2.992C1.892 14 1 13.113 1 11.994V7zm5 0h1v7H6V7z" fill-rule="evenodd"></path>
                                                </svg>
                                            </i>
                                            Presentear
                                        </a>
                                    </li>
                                </ul>
                            </div>*@<div class="action-container container-more">
                            <div class="action" role="button" data-toggle="dropdown" data-target="sl-dropdown">
                                <i class="icon more"></i>
                            </div>

                            <ul class="dropdown-menu sl-dropdown profile-dropdown dropdown-more" sl-set-height="" style="height: 300px;">

                                <li class="item menu-action-gift">
                                    <a ng-click="actions.gift()">
                                        <i class="icon">
                                            <svg width="13" height="14" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 4H.999A1 1 0 0 0 0 5v1h13V5c0-.556-.447-1-.999-1H10c.014-.01 2.995-1.994 1-3C9-.009 8 2 7.5 3c-.5-1-1.498-1-2 0C5 2 4-.024 2 1c-1.995 1.022.986 2.99 1 3zM1 7h11v4.994C12 13.102 11.1 14 10.008 14H2.992C1.892 14 1 13.113 1 11.994V7zm5 0h1v7H6V7z" fill-rule="evenodd"></path>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                }


                <!-- Info -->
                <div class="profile-info">

                    <p class="profile-description">
                        “@ViewBag.DescricaoPerfilPrivado”
                    </p>

                    @*<ul class="profile-badges badges" style="list-style-type: none; padding-left: 0px;">

                            <li>
                                <a target="_self" class="profile-badge" href="/Gold/" title="GOLD">
                                    <img src="/modules/img/perfil_gold.png" width="37" height="37" />
                                </a>
                            </li>
                            <li>
                                <a target="_self" class="profile-badge" href="/Dating/Verificados/" title="Verificado">
                                    <img src="/modules/img/perfil_verificado.png" width="37" height="37" />
                                </a>
                            </li>
                            <li>
                                <a target="_self" class="profile-badge" href="/Dating/" title="TOP">
                                    <img src="/modules/img/perfil_top.png" width="37" height="37" />
                                </a>
                            </li>

                        </ul>*@

                    <dl class="profile-other-info">
                        <dt>Genero</dt>
                        <dd>
                            <span>@Html.DisplayFor(m => m.PerfilViewModel.Genero).ToString()</span>
                        </dd>

                        @*<dt>Número de Likes</dt>
                            <dd>233k</dd>*@
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <hr>

                </div>

            </div>

            <!--Conteúdo-->
            <div class="profile-content">

                <!-- Nav -->
                @if (ViewBag.AssinaturaDeFan)
                {
                    <nav class="profile-nav">
                        <ul>
                            @if (!ViewBag.habilitaEdicao)
                            {
                                <li class="nav-home">
                                    <a class="nav-item" href="/fanclub/profile">
                                        SEU PERFIL
                                    </a>
                                </li>
                            }

                            <li class="nav-home js-menu-timeline active">
                                <a class="nav-item" href="/fanclub/profile">
                                    TIMELINE
                                </a>
                            </li>

                            <li class="nav-home js-menu-galeria">
                                <a class="nav-item" href="#">
                                    FOTOS
                                </a>
                            </li>

                            @*<li class="nav-home">
                                    <a class="nav-item" href="#">
                                        VIDEOS
                                    </a>
                                </li>*@
                            <li class="nav-home">
                                <a class="nav-item" href="#">
                                </a>
                            </li>

                        </ul>
                    </nav>
                }



                <div class="profile-home profile-container">

                    @if (ViewBag.AssinaturaDeFan)
                    {
                        @Html.Action("_TimelinePartial", "FanClub")
                    }
                    else
                    {
                        @Html.Action("_BloqueioSemAssinaturaPartial", "FanClub")
                    }


                    @*@Html.Action("_ConfiguracoesPartial", "FanClub")*@

                </div>

            </div>

        </div>

    </div>
</div>

<div class="text-center">

    <div class="endpage" style="margin: 30px 0 0px;">
        <i></i>
        <div></div>
    </div>
    <br /><br />
</div>

<!-- FOTO -->
<div class="modal fade" id="myModalEnviaFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Selecionar Imagem</h4>
            </div>

            <script>
                var loadFile = function (event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>
            @using (Html.BeginForm("SalvaFotoGaleria", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <input type="file" accept="image/*" onchange="loadFile(event)" name="file" id="file" /><br><br>

                    <br><br>
                    <img id="output" style="max-width: 568px;" />
                    <br><br>
                    @ViewBag.Message

                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="isSelectedPrivate" name="isSelectedPrivate" checked="checked" style="display:none;" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar foto</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="mensagemModal">

</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="~/modules/js/perfil.js"></script>

<script src="~/modules/js/blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };


    document.getElementById('links2').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };


    document.getElementById('fotosPrivadas').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>


@{
    bool JavaScript = false;

    if (ViewBag.AssinatePerfil == null)
    {
        JavaScript = true;

        if (ViewBag.AssinatePerfil == false)
        {
            JavaScript = false;
        }
        else
        {
            JavaScript = true;
        }
    }
}

<script type="text/javascript">


    $(document).ready(function () {

        $(document).on("click", ".btn-visualizar-foto-privada", function (e) {

            nomeUsuarioFotos = $('.btn-visualizar-foto-privada').attr('js-usuario');

            SolicitarVisualizarFotoPrivada(nomeUsuarioFotos);

            e.preventDefault();
        });


        function SolicitarVisualizarFotoPrivada(nomeUsuarioSolicitado) {
            $.ajax({
                url: "/Dating/SolicitarVisualizarFotoPrivada",
                data: {
                    'nomeUsuarioSolicitado': nomeUsuarioSolicitado,
                },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    //alert("Successfully Inserted!");
                },
                error: function () {
                    //Notification();
                }
            });
        }





        $('.js-carregar-btn').unbind("click").click(function (e) {

            TodasAsPublicacoesAtivas();

            e.preventDefault();
        });



        $(document).on("click", ".action-container.container-editar", function (e) {


            $(".nav-home").removeClass("active");
            $(this).addClass("active");


            $.get('/FanClub/_ConfiguracoesPartial', function (data) {
                $('.profile-home.profile-container').html("");
                $('.profile-home.profile-container').append(data);
            });


            e.preventDefault();
        });


        $(document).on("click", ".nav-home.js-menu-timeline", function (e) {


            $(".nav-home").removeClass("active");
            $(this).addClass("active");


            var nomeUsuario = $('.profile-username').html();

            $.ajax({
                url: "/FanClub/_TimelinePartial",
                data: {
                    'nomeUsuario': nomeUsuario,
                },
                dataType: "html",
                type: 'POST',
                success: function (data) {
                    $('.profile-home.profile-container').html("");
                    $('.profile-home.profile-container').append(data);
                },
                error: function () {
                    //Notification();
                }
            });


            e.preventDefault();
        });


        $(document).on("click", ".nav-home.js-menu-galeria", function (e) {


            $(".nav-home").removeClass("active");
            $(this).addClass("active");


            var nomeUsuario = $('.profile-username').html();

            $.ajax({
                url: "/FanClub/_GaleriaPartial",
                data: {
                    'nomeUsuario': nomeUsuario,
                },
                dataType: "html",
                type: 'POST',
                success: function (data) {
                    $('.profile-home.profile-container').html("");
                    $('.profile-home.profile-container').append(data);
                },
                error: function () {
                    //Notification();
                }
            });

            //$.get('/FanClub/_GaleriaPartial', function (data) {
            //    $('.profile-home.profile-container').html("");
            //    $('.profile-home.profile-container').append(data);
            //});


            e.preventDefault();
        });

        $(document).on("click", ".nav-home.js-menu-assinaturas", function (e) {


            $(".nav-home").removeClass("active");
            $(this).addClass("active");


            $.get('/FanClub/_AssinaturasPartial', function (data) {
                $('.profile-home.profile-container').html("");
                $('.profile-home.profile-container').append(data);
            });


            e.preventDefault();
        });

        $(document).on("click", ".js-btn-compra-assinatura-privado", function (e) {

            var idAssinatura = $(this).attr("data-id-assinatura");

            $.ajax({
                url: "/FanClub/CompraAssinatura",
                data: {
                    'idAssinatura': idAssinatura,
                },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    //alert("Successfully Inserted!");
                },
                error: function () {
                    //Notification();
                }
            });
        });




        //$(window).scroll(function () {

        //    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        //        TodasAsPublicacoesAtivas();
        //    }
        //});

    });


</script>


