@using Plataforma.Models
@model SharedViewModel
<!doctype html>
<html lang="pt-br" class="pt-br desktop">
<head>

    <title>@ViewBag.Title</title>
    @*<title>Kinkee | Sugar Baby & Sugar Daddy, BDSM, Camgirls e Packs de Fotos.</title>*@
    <base>
    <meta property="fb:app_id" content="1015030085319888" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="Kinkee é uma rede social de relacionametno Sugar Baby e Sugar Daddy mais inovadora do mundo, que utiliza um algoritimo exclusivo para ajudar a determinar os melhores Daddies do Brasil." name="description">
    <meta data-react-helmet="true" name="description" content="Kinkee é uma rede social de relacionametno Sugar Baby e Sugar Daddy mais inovadora do mundo, que utiliza um algoritimo exclusivo para ajudar a determinar os melhores Daddies do Brasil.">
    <meta name="theme-color" content="#74358A" />
    <meta name="keywords" content="Sugar baby wikipedia, viagens,luxo, Sugar Daddies, Sugar Daddi, Sugar Daddie, Sugar Babies, Sugar Daddy, sugar baby, garotas lindas, gatas, milionário, passeios, namoro, namorar homem rico, homem rico, homens ricos, Meu Patrocínio, seekingarrangement, Seeking Arrangement, site de namoro, relacionamento, mulheres, namorar, sugar, baby, daddy, sugar baby site, rede social de relacionamento ,mulheres bonitas, Babies, Daddies, viagens, luxo, afinidade, camgirl, packs, fotos" />
    <meta name="author" content="Raphael Santo" />
    <meta name="language" content="pt-br" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="content-type" content="text/html;charset=utf-8;no-cache" />
    <!-- Favicon -->
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css type=text/css>
    <link id="dynamic-favicon" rel="shortcut icon" type="image/x-icon" href="https://kinkeesugar.com/Content/images/fav-ico.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @*<link type="text/css" rel="stylesheet" href="~/pulsar/Kinkee/assets/css/sl/bundle6514.css?v=1476702930" media="screen" />
        <link type="text/css" rel="stylesheet" href="~/pulsar/Kinkee/assets/css/sl/bootstrap-sl-common6514.css?v=1476702930" media="screen" />*@
    @*<link type="text/css" rel="stylesheet" href="~/pulsar/Kinkee/assets/css/sl/app/home/home.css" media="screen" />*@
    @Styles.Render("~/pulsar/Kinkee/assets/css/sl.css")
    @Styles.Render("~/pulsar/Kinkee/assets/css/sl/app/home.css")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Styles.Render("~/pulsar/Kinkee/css/generalStyle.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            FotoPerfil();
            PerfilVerificadoAtivo();
            function FotoPerfil() {
                $.get('@Url.Action("FotoPerfil", "Dating")', function (data) {
                    $('.js-img-perfil-circle').attr("src", data);
                    $('.js-img-destaque').attr("src", data);
                    //$('.top-image ').attr("src", data);
                });
                //return data;
            }
            function PerfilSugeridoAtivo() {
                $.get('@Url.Action("PerfilSugeridoAtivo", "Dating")', function (data) {
                    if ("True" === data)
                    {
                        $('.sl-highlight').css("display", "none");
                        $('.js-label-sugerido').html('Perfil Destacado');
                        $('.js-label-sugerido-complemento').css("display", "none");
                    }
                });
                //return data;
            }
            function PerfilVerificadoAtivo() {
                $.get('@Url.Action("PerfilVerificadoAtivo", "Dating")', function (data) {
                    if ("True" === data)
                    {
                        $('.sl-highlight').css("display", "none");
                        $('.js-label-sugerido').html('PERFIL VERIFICADO');
                        $('.js-label-sugerido-complemento').css("display", "none");
                        FotoPerfil();
                    }
                });
                //return data;
            }
        });
    </script>
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "8ebd0caa-2aaf-4b1b-9a39-2783e3a5ae16",
                autoRegister: true,
                notifyButton: {
                    enable: true,
                },
                welcomeNotification: {
                    "title": "Oba!",
                    "message": "Agora você está ainda mais conectado com a gente!",
                    // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
                },
                text: {
                    'tip.state.unsubscribed': 'Receba nossas notificações',
                    'tip.state.subscribed': "Você já está recebendo nosssas notificações",
                    'tip.state.blocked': "Você bloqueou as notificações",
                    'message.prenotify': 'Clique para receber nossas notificações',
                    'message.action.subscribed': "Agora você receberá nosssas notificações",
                    'message.action.resubscribed': "Você já habilitou as notificações nesse navegador",
                    'message.action.unsubscribed': "Você não receberá mais notificações",
                    'dialog.main.title': 'Gerencie suas notificações',
                    'dialog.main.button.subscribe': 'HABILITAR',
                    'dialog.main.button.unsubscribe': 'DESABILITAR',
                    'dialog.blocked.title': 'Desbloquear notificações',
                    'dialog.blocked.message': "Siga as instrições para habilitar:"
                }
            });
            OneSignal.getUserId(function (userId) {
                //console.log("OneSignal User ID:", userId);
                // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316
                SalvarUserID(userId);
            });
        });
        $(document).ready(function () {
            //SalvarUserID('d10c8ab3-8f5f-4c93-aa19-9f65e46abb85');
        });
        function SalvarUserID(userId) {
            $.ajax({
                url: "Notification/SalvarUserID",
                data: {
                    'userId': userId
                },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    $('.loading-header').text(data);
                },
                error: function () {
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/fancybox-master/dist/jquery.fancybox.min.css" />
    <script src="~/Scripts/fancybox-master/dist/jquery.fancybox.min.js"></script>
</head>
<body id="mainContent" class="promotion-scroll-block" style="padding-top: 0">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1015030085319888',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.0'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <input type="hidden" id="genero" value="" />
    <input type="hidden" id="searchResult" value="">
    <input type="hidden" id="helperFields" value="0" data-urlActionCommitSearch="@Url.Action("CommitSearch","Home")" data-urlActionAutoComplete="@Url.Action("Autocomplete","Home")">
    <input type="hidden" id="helperFieldsLocation" value="0" data-urlActionCommitSearch="@Url.Action("CommitSearch","Home")" data-urlActionAutoComplete="@Url.Action("LocationAutocomplete","Home")">
    <header class="js-header-menu">

        <nav class="sl navbar navbar-fixed navbar-default offline " role="navigation">
            <div class="container-flex">
                <!-- Logo e Toggle Button -->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" target="_self" title="Kinkee">
                        <span class="logo"></span>
                    </a>
                </div>
                <!-- Assine -->
                @*@if (Request.IsAuthenticated) //Se estiver logado
                {
                    <div class="navbar-actions ng-scope" button-subscribe="" style="margin-left:20px;" edata-action="NAVBAR-SUBSCRIBE">
                        <a href="/MinhaConta/Assinatura/" class="sl-btn btn-primary-inverse text-uppercase" title="Assine">Assine</a>
                    </div>
                }*@
                <!-- Busca -->
                <!-- Box de login -->
                @if (!Request.IsAuthenticated) //Se não estiver logado
                {
                    <div class="box-login">
                        <a class="nav__action-btn ng-scope" href="@Url.Action("Login", "Account")" target="_self">
                            Login
                        </a>

                        <a class="visible-md visible-lg btn-register" href="https://kinkeesugar.com/#news" target="_self">Cadastre-se</a>

                    </div>
                }
                else
                {
                    <link href="~/pulsar/Kinkee/assets/css/sl/comum.css" rel="stylesheet" />
                    <style>
                        .sl.navbar.offline .container-flex .notifications {
                            display: block;
                        }
                    </style>
                    <div id="navbar-search-form" class="navbar-search ng-scope ng-pristine ng-valid">
                        @*@using (Html.BeginForm("Search", "Dating", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @method = "post", @id = "form_login_header", @class = "ng-pristine ng-valid" }))
                        {
                            <input type="search" id="Search" name="SearchText" class="form-control ng-pristine" style="border-radius: 0px;" placeholder="Pesquisar">
                            <button id="btnSearch" class="btn btn-search ng-scope"></button>
                        }*@
                    </div>
                    <style>
                        .js-moeda-menu-open {
                            display: block !important;
                        }
                    </style>
                    <ul class="profile dropdown">
                        <li id="dropdown-toggle">
                            <a target="_self">
                                <img src="~/pulsar/Kinkee/assets/images/modules/sobre/profile.png" alt="@HttpContext.Current.User.Identity.Name" width="30" height="30" class="img-circle js-img-perfil-circle" />
                                <span class="caret"></span>
                            </a>
                        </li>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-login">
                            <li class="newDivHeaderContent noBorder">
                                <div class="linkEditProfile">
                                    <div class="newDivFigureHeader">
                                        <a href="/Dating/Perfil/@HttpContext.Current.User.Identity.Name" class="sub-link" href="#" target="_self">
                                            <img src="~/pulsar/Kinkee/assets/images/modules/sobre/profile.png" class="imgMyAvatar img-circle js-img-perfil-circle">
                                        </a>
                                    </div>
                                    <div class="newDivTextHeader">
                                        <a class="sub-link profile-name" href="/Dating/Perfil/@HttpContext.Current.User.Identity.Name" title="@HttpContext.Current.User.Identity.Name" target="_self">
                                            @HttpContext.Current.User.Identity.Name
                                        </a>
                                        <a class="sub-link profile-edit" href="/MinhaConta/EditarPerfil/" target="_self">
                                            Editar meu perfil
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li class="account">
                                <a href="/MinhaConta/ConfiguracoesAvancadas" target="_self">Configurações</a>
                            </li>
                            <li id="hrefSignUp">
                                <a href="/MinhaConta/Assinatura/" target="_self">Assinatura</a>
                            </li>
                            <li class="security">
                                <a href="/MinhaConta/Privacidade/" target="_self">Segurança e privacidade</a>
                            </li>
                            <li class="divider"></li>
                            <li id="hrefSignUp">
                                <a href="https://kinkeesugar.com/blog" target="_blank">Leia o Blog</a>
                            </li>
                            @*<li class="feedback">
                                <a href="/MinhaConta/Feedback/">Gostou da Kinkee?</a>
                            </li>*@
                            <li class="divider"></li>
                            <li class="logout">
                                @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @method = "post", @id = "form_login_header", @class = "ng-pristine ng-valid" }))
                                {
                                    <a href="#" onclick="$(this).parents('form').submit();" target="_self">Sair</a>
                                }
                            </li>
                        </ul>
                    </ul>
                    <ul class="notifications ng-scope">

                        @*<ul class="notifications  ng-scope js-koin-click" style="float: left; display:block; margin-right:30px;">

                            <li class="tokens dropdown">
                                <div class="navbar-actions">
                                    <div class="flip-to-bottom" data-toggle="dropdown" id="dropdownMenuTokens">
                                        <button class="sl-btn btn-primary-light btn-balance" type="button" title="koins">
                                            <span class="balance">
                                                <i class="token-xs-white"></i>
                                                <span class="number ng-binding js-koins-value">0</span>
                                                <span class="token-text">Koins</span>
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <button class="sl-btn btn-token">
                                            <span class="text-uppercase" style="font-size: 10px;">koins</span>
                                        </button>
                                    </div>
                                    <ul class="dropdown-menu js-moeda-menu" role="menu" aria-labelledby="dropdownMenuTokens">
                                        <li class="balance">
                                            <label>
                                                Saldo <strong>
                                                    <span class="ng-binding js-koins-value">0</span>
                                                    <i class="token-sm" title="Koins"></i>
                                                </strong>
                                            </label>
                                            <button type="button" class="sl-btn btn-sm btn-default js-comprar-koins-btn" title="Comprar +">
                                                Comprar +
                                            </button>
                                            <script type="text/javascript">
                                                $(document).on("click", ".js-comprar-koins-btn", function (e) {
                                                    $.get('@Url.Action("_ComprarKoinsPartial", "MinhaConta")', function (data) {
                                                        $('#PanelComprarKoins').append(data);
                                                    });
                                                    e.preventDefault();
                                                });
                                                $(document).on("click", ".js-close-button-assinatura", function (e) {
                                                    $('#PanelComprarKoins').empty();
                                                    e.preventDefault();
                                                });
                                            </script>
                                        </li>
                                        <li>
                                            <a href="/MinhaConta/Loja" title="Loja" target="_self">
                                                <i></i>
                                                <span class="label">
                                                    Loja
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/MinhaConta/TrocarKoins" title="Trocar Koins por Assinatura" target="_self">
                                                Trocar Koins por Kinkee Gold
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ContaDigital/" title="Conta Digital" target="_self">
                                                Conta Digital
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>*@

                        <!-- Solicitações de Amizade -->
                        @*<li class="js-solicitacoes dropdown" style="margin-right: 10px;">
                            <a href="#" class="solicitacoes-amizade">
                                Solicitaçaões de Amizades
                                <span id="js-count-friends-request" class="badge" js-count-friends-request>0</span>
                            </a>
                            <div class="arrow-up"></div>
                            <div class="sl-dropbox">
                                <div class="dropbox-header">
                                    <h3>Solicitaçaões de Amizades</h3>
                                    <button class="sl-btn notification-close">
                                        Fechar
                                    </button>
                                </div>
                                <div class="dropbox-body" sl-prevent-scroll="" sl-infinite-scroll="load()">
                                    <ul class="lst lst-messages js-list-friedsrequest">
                                        <li class="ng-scope js-load-list" style="display:block;">
                                            <div>
                                                <img src="~/modules/img/loading.gif" width="50" style="margin-left:45%" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropbox-footer">
                                    <a href="/Friends" class="show-all" target="_self">
                                        Ver todas
                                    </a>
                                </div>
                            </div>
                        </li>*@

                        <!-- Mensagens -->
                        <li class="js-mensagens dropdown ng-scope" style="margin-right: 10px;">
                            <a href="/Dating/Inbox/" class="scraps">
                                <svg class="nav__icon nav__icon-scraps">
                                    <use xlink:href="assets/icons/navbar-refactored/navbar-refactored.svg?v=10#navbar-mensage"></use>
                                </svg>
                                Mensagens<span class="badge ng-binding js-count-messages">0</span>
                            </a>
                            @*<div class="arrow-up"></div>
                            <div class="sl-dropbox">
                                <div class="dropbox-header">
                                    <h3>Mensagens</h3>
                                    <button class="sl-btn notification-close">
                                        Fechar
                                    </button>
                                </div>
                                <div class="dropbox-body" sl-prevent-scroll="" sl-infinite-scroll="load()">
                                    <ul class="lst lst-messages js-list-message">
                                        <li class="ng-scope js-load-list" style="display:block;">
                                            <div>
                                                <img src="~/modules/img/loading.gif" width="50" style="margin-left:45%" />
                                            </div>
                                        </li>
                                        <li class="show-more ng-hide" ng-click="more()" ng-show="!busy &amp;&amp; showMore">
                                            <button class="sl-btn btn-primary">
                                                Mostrar mais
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropbox-footer">
                                    <a href="/Dating/Inbox" class="show-all" target="_self">
                                        Ver todas
                                    </a>
                                </div>
                            </div>*@
                        </li>
                        <!-- Notificações -->
                        <li class="js-notificacao dropdown ng-scope" style="margin-right: 10px;">
                            <a href="#" class="dropdown-toggl bell">
                                Notificações
                                <span id="js-notify-mensagem" class="badge ng-binding js-count-notify">0</span>
                            </a>
                            <div class="arrow-up"></div>
                            <div class="sl-dropbox">
                                <div class="dropbox-header">
                                    <h3>Notificações</h3>
                                    <button class="sl-btn notification-close">
                                        Fechar
                                    </button>
                                </div>
                                <div class="dropbox-body" sl-prevent-scroll="" sl-infinite-scroll="load()">
                                    <ul class="lst lst-notifications js-list-notifications">
                                        <li class="ng-scope js-load-list" style="display:block;">
                                            <div>
                                                <img src="~/modules/img/loading.gif" width="50" style="margin-left:45%" />
                                            </div>
                                        </li>
                                        @*@Html.Action("_CardNotificationListPartial", "Notification")*@
                                        <li class="show-more ng-hide">
                                            <button class="sl-btn btn-primary">
                                                Mostrar mais
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropbox-footer">
                                    <a href="/Notification/" class="show-all" target="_self">
                                        Ver todas
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    
    <button class="add-button">Add to home screen</button>
    <main style="background-color:#e7e7e7" class="no-navbar">
        @RenderBody()
    </main>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1015030085319888',
                xfbml: true,
                version: 'v3.0'
            });
            FB.AppEvents.logPageView();
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @if (Request.IsAuthenticated) //Se tiver logado
    {
        <div id="bannerPrincipal">
            @Html.Action("BannerPartial", "Dating")
        </div>
    }
    <div id="PanelComprarKoins">
    </div>
    @Scripts.Render("~/modules/js/layout")


    <footer>
        <div ng-controller="NavbarFooterController as navbar" class="ng-scope">
            <!-- ngIf: ::navbar.isLogged --><nav class="navbar-footer ng-scope navbar__messages" ng-class="{'notification-center--open': navbar.showNotificationCenter}" sl-notifications="" ng-init="navbar.init('messages')" ng-if="::navbar.isLogged" navbar-footer="">
                <div class="navbar-footer__item navbar-footer__item--home-fix" ng-class="{'active': navbar.active === 'explore'}">
                    <a class="navbar-footer__link ng-scope" target="_self" sl-notifications-backdrop="" ng-click="navbar.redirectTo('https://www.sexlog.com', 'explore', slNotifications.closeNotifications);">
                        <svg class="navbar-footer__svg">
                            <use class="navbar-footer__icon" xlink:href="assets/icons/_common/_common.svg?#common-nav-home"></use>
                        </svg>
                    </a>
                </div>
                <div class="navbar-footer__item navbar-footer__item--search-fix" ng-class="{'active': navbar.active === 'search'}">
                    <div class="navbar-footer__link ng-scope" target="_self" sl-notifications-backdrop="" ng-click="navbar.redirectTo('busca', 'search', slNotifications.closeNotifications)">
                        <svg class="navbar-footer__svg">
                            <use class="navbar-footer__icon" xlink:href="assets/icons/_common/_common.svg?#common-nav-search"></use>
                        </svg>
                    </div>
                </div>
                <div class="navbar-footer__item navbar-footer__item--msg-fix active" ng-class="{'active': navbar.active === 'messages'}">
                    <a class="navbar-footer__link ng-scope" target="_self" sl-notifications-backdrop="" ng-click="navbar.redirectTo('https://www.sexlog.com/mensagens', 'messages', slNotifications.closeNotifications)">
                        <span class="navbar-footer__badge badge ng-binding ng-hide" ng-bind="$checkUpdates.navbar('scraps')" ng-show="$checkUpdates.navbar('scraps') > 0">0</span>
                        <svg class="navbar-footer__svg">
                            <use class="navbar-footer__icon" xlink:href="assets/icons/_common/_common.svg?#common-nav-message"></use>
                        </svg>
                    </a>
                </div>
                <div class="navbar-footer__item" navbar-click-tab="" ng-class="{'active': navbar.active === 'notification'}" ng-click="navbar.toggleNotificationCenter(); navbar.closePreProfile();">
                    <a class="navbar-footer__link">
                        <span class="navbar-footer__badge badge ng-binding ng-hide" ng-bind="$checkUpdates.navbar('general')" ng-show="$checkUpdates.navbar('general') > 0">0</span>
                        <svg class="navbar-footer__svg">
                            <use class="navbar-footer__icon" xlink:href="assets/icons/_common/_common.svg?#common-nav-notification"></use>
                        </svg>
                    </a>
                </div>
                <div class="notification-center__top ng-hide" ng-show="navbar.showNotificationCenter">
                    <top-title title="Notificações" class="notifications__header ng-isolate-scope">
                        <div class="mobile-header">
                            <button class="mobile-header__button ng-hide" ng-click="$ctrl.backPage()" ng-show="$ctrl.button">
                                <svg class="mobile-header__svg">
                                    <use class="mobile-header__icon" xlink:href="assets/icons/_common/_common.svg?#common-back"></use>
                                </svg>
                            </button>
                            <h1 class="mobile-header__title ng-binding" ng-bind="$ctrl.title">Notificações</h1>
                        </div>
                    </top-title>
                    <div ng-click="slNotifications.stopPropagation($event)" class="notification-center__header">
                        <div class="notification-center__header-item notification-center--notification ng-scope" sl-notifications-notifications="" ng-click="navbar.openTabCenter(open, slNotifications.notificationsOpened)" showpush="" ng-class="{ open: slNotifications.notificationsOpened }">
                            <span class="notification-center__badge badge ng-binding ng-hide" ng-bind="$checkUpdates.navbar('general')" ng-show="$checkUpdates.navbar('general') > 0">0</span>
                            <span class="notification-center__tab-text">Atualizações</span>
                            <div class="sl-dropbox notification-center--notifications" ng-click="slNotifications.stopPropagation($event)">
                                <div class="dropbox-body" sl-prevent-scroll="" sl-infinite-scroll="load()">
                                    <ul class="lst lst-notifications">

                                        <!-- ngIf: showPushNotification -->
                                        <!-- ngRepeat: notification in notifications -->
                                        <!-- ngIf: busy -->
                                        <li class="show-more ng-hide" ng-click="more()" ng-show="!busy &amp;&amp; showMore">
                                            <button class="sl-btn btn-primary">
                                                Mostrar mais
                                            </button>
                                        </li>
                                        <!-- ngIf: noData -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="notification-center__header-item ng-scope" sl-notifications-friends="" ng-click="navbar.openTabCenter(open, slNotifications.friendsOpened)" ng-class="{ open: slNotifications.friendsOpened}">
                            <span class="notification-center__badge badge ng-binding ng-hide" ng-bind="$checkUpdates.navbar('friends')" ng-show="$checkUpdates.navbar('friends') > 0">0</span>
                            <span class="notification-center__tab-text">Amizades</span>
                            <div class="sl-dropbox notification-center--friends" ng-click="slNotifications.stopPropagation($event)">
                                <div class="dropbox-body" sl-prevent-scroll="" sl-infinite-scroll="load()">
                                    <ul class="lst lst-friends">
                                        <!-- ngIf: ::privacySettingsClose -->
                                        <!-- ngRepeat: friend in friends -->
                                        <!-- ngIf: busy -->
                                        <li class="show-more ng-hide" ng-click="more()" ng-show="!busy &amp;&amp; showMore">
                                            <button class="sl-btn btn-primary">
                                                Mostrar mais
                                            </button>
                                        </li>
                                        <!-- ngIf: noData -->
                                    </ul>
                                </div>
                                <!-- ngIf: false -->
                                <div class="notification-center__dropbox-footer">
                                    <a href="u/menininhateste/solicitacoes-de-amizade#profile-info" class="notification-center__show-all" target="_self">
                                        Ver todas as solicitações
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-footer__item ng-scope" sl-notifications-notifications="" ng-class="{'active': navbar.active === 'pre-profile'}" ng-click="toggle(); navbar.togglePreProfile();">
                    <a class="navbar-footer__link">
                        <svg class="navbar-footer__svg">
                            <use class="navbar-footer__icon" xlink:href="assets/icons/_common/_common.svg?#common-nav-profile"></use>
                        </svg>
                    </a>
                </div>
            </nav><!-- end ngIf: ::navbar.isLogged -->
        </div>
    </footer>




    @*<script src="ChatJs/js/jquery.autosize.js"></script>*@

    <script>
        $(document).ready(function () {

            //$('.solicitacoes-amizade').click(function () {

            //    $('.js-solicitacoes').toggleClass('open');
            //    $.ajax({
            //        url: '/Notification/_CardFriendNotificationListPartial',
            //        dataType: 'html',
            //        type: 'GET',
            //        success: function (data) {

            //            if (data !== "") {
            //                $('.js-load-list').css("display", "none");
            //                $('.js-lista-item-notif').remove();
            //                $('.js-list-friedsrequest').append(data);

            //                $.get('../../Dating/MarcaFriedsRequestComoLidas', function (data) {
            //                    $('#js-count-friends-request').css("display", "none");
            //                });
            //            }
            //        }
            //    });
            //});

            $('.scraps').click(function () {
                $('.js-mensagens').toggleClass('open');
                $.ajax({
                    url: '/Notification/_CardFriendNotificationListPartial',
                    dataType: 'html',
                    type: 'GET',
                    success: function (data) {
                        if (data !== "") {
                            $('.js-load-list').css("display", "none");
                            $('.js-list-message').append(data);
                        }
                    }
                });
            });
            $('.bell').click(function () {
                $('.js-notificacao').toggleClass('open');
                $.ajax({
                    url: '/Notification/_CardNotificationListPartial',
                    dataType: 'html',
                    type: 'GET',
                    success: function (data) {
                        if (data !== "") {
                            $('.js-load-list').css("display", "none");
                            $('.js-lista-item-notif').remove();
                            $('.js-list-notifications').append(data);
                            $.get('../../Dating/MarcaNotificacoesComoLidas', function (data) {
                                $('.js-count-notify').css("display", "none");
                            });
                        }
                    }
                });
            });
        });
        // This is the service worker with the combined offline experience (Offline page + Offline copy of pages)
        // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
        // Check compatibility for the browser we're running this in
        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("[PWA Builder] active service worker found, no need to register");
            } else {
                // Register the service worker
                navigator.serviceWorker
                    .register("/ServiceWorker.js", {
                        scope: "./"
                    })
                    .then(function (reg) {
                        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                    });
            }
        }
        let deferredPrompt;
        const addBtn = document.querySelector('.add-button');
        addBtn.style.display = 'none';
        window.addEventListener('beforeinstallprompt', (e) => {
            // Prevent Chrome 67 and earlier from automatically showing the prompt
            e.preventDefault();
            // Stash the event so it can be triggered later.
            deferredPrompt = e;
            // Update UI to notify the user they can add to home screen
            addBtn.style.display = 'block';
            addBtn.addEventListener('click', (e) => {
                console.log('click');
                // hide our user interface that shows our A2HS button
                addBtn.style.display = 'none';
                // Show the prompt
                deferredPrompt.prompt();
                // Wait for the user to respond to the prompt
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('User accepted the A2HS prompt');
                    } else {
                        console.log('User dismissed the A2HS prompt');
                    }
                    deferredPrompt = null;
                });
            });
        });
        const actualDomain = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)";
        var hash = "";
    </script>
    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-pt_BR.min.js type=text/javascript charset=utf-8></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js type=text/javascript charset=utf-8></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js type=text/javascript></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js type=text/javascript></script>
    @*<script src="~/Scripts/Comun.js"></script>*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155191071-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155191071-2');
    </script>

</body>
</html>
